# arquivos de dados do TCE
esfera-municipal/*.gz
esfera-municipal/*.txt

esfera-estadual/*.gz
esfera-estadual/*.txt

# bases de dados são geradas após clone do projeto
esfera-municipal.db
esfera-estadual.db
*.db-journal
